<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/general.css">
    <link rel="stylesheet" href="/static/navbar.css">
    <link rel="stylesheet" href="/static/myproduct.css">
    <script src="/static/string.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>    
    <script src="/static/metamask.js"></script>
    <script src="/static/myproducts.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="center div-navbar">
            <a href="../"><p class="p-nav">Blockchain Store</p></a>
        </div>
    </nav>
    <main id="main" class="center">
    </main>
</body>
</html>